*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    display: grid;
    background: #0b0a35f0;
    max-width: 100%;
    margin: 0px;
}
/** Logo e Navegação**/
.secao{
    width: 1200px;
    margin: 30px;
    margin-top: 0%;
    position: fixed;
    background:rgb(18, 17, 55);
    z-index: 99;
}
.logo{
    color:#fbe4bd;
    float: left;
    padding: 15px;
 }

.logo img{

    max-width:50px;
}
nav{
    position: absolute;
    float: right;
    color:#fbe4bd;
   	text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    padding-left: 600px;
    word-spacing: 60px;
    z-index:2;
}

nav a{
    text-decoration: none;
    color: #fbe4bd;

}
a:hover{
    color:aquamarine;
}
/**
/**Parte 1 - primeira seção**/
.texto1{
   
    float: left;
    width: 1200px;
    height: 600px;
    padding: auto;
    margin: 30px;
    margin-top: 0x;
    background:rgba(11, 10, 53, 0.941);
}

.texto1 p{
    
    max-width: 90%;
    padding:0px;
    height: 100px;

}

.texto1 img{
    background:#0b0a3500;
    padding:10px;
    height: 664px;
    float:right;
    
}
.texto_p1{ 
    position: absolute;
    color: #fbe4bd;
    top:200px;
    left: 150px;
    
}

.texto_p2{
    position: absolute;
    color: #fbe4bd;
    top:410px;
    left: 0px;
    padding-left: 320px;

}
/**parte 2 -vendas**/

#Vendas{
    float: left;
    width: 1200px;
    height: 600px;
    margin: 30px;
    margin-top:-30px;
    background: rgba(11, 10, 53, 0.941);
    background: linear-gradient(180deg, rgba(11, 10, 53, 0.941) 20%, rgb(31, 47, 99) 100%);
}
#Vendas p{
    margin: 30px;

}
.doc {
    
    border-radius: 15px;
    position: relative;
    display: inline-block;
    left: 150px;
    top: 100px;
    color: #fbe4bd;
    padding: 20px;
    max-width: 250px;
}
#tabela{    
    background:#fbe4bd;
    float: left;
    width: 1100px;
    height: 600px;
    margin: -90px;
    margin-left: 78px;
    z-index: 9;
    position: relative;
    box-shadow: 5px 5px 5px rgb(4, 5, 19);
    color: black;
    border-radius: 20px;
}

#item_tabela{
    border:rgb(191, 191, 191) solid 2px ;
    border-radius:px;
    float: left;
    margin-top: 80px;
    margin-left: 80px;
    padding: 70px 90px;
    position: relative;
    width: 70px;
    
}


#serfico{
    float: left;
    width: 1200px;
    height: 600px;
    margin: 30px;
    background: rgb(11, 10, 53);

}

#serfico p{
    padding-top: 70px;
    margin: 70px;
    max-width: 1000px;
    text-align: justify;
    color:#fbe4bd;
}






footer{
    float: left;
    width: 1200px;
    height: 70px;
    margin:30px;
    background: rgb(24, 24, 24);
    margin-top: -30px;
}
