*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    
    background: #0b0a35f0;
    max-width: 800px;
    margin: 0px;
}
/** Logo e Navegação**/
.secao{
    width: 1200px;
    margin: 30px;
    margin-top: 0%;
    /**border:#fbe4bd solid;**/
    position: fixed;
    background:rgb(18, 17, 55);
}
.logo{
    color:#fbe4bd;
    float: left;
    padding: 15px;
 }

.logo img{

    max-width:50px;
}
nav{
    position: static;
    float: right;
    color:#fbe4bd;
   	text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    padding-left: 600px;
    word-spacing: 60px;
    position: fixed;
}

/**Parte 1 - primeira seção**/
.texto1{
   
    float: left;
    width: 1200px;
    height: 600px;
    padding: auto;
    margin: 30px;
    margin-top: 0x;
    background:rgba(11, 10, 53, 0.941);
}

.texto1 p{
    
    max-width: 100%;
    padding:0px;
    height: 100px;

}

.texto1 img{
    background:#0b0a3500;
    padding:10px;
    height: 664px;
    float:right;
    
}
.texto_p1{ 
    position: absolute;
    color: #fbe4bd;
    top:200px;
    left: 150px;
    
}

.texto_p2{
    position: absolute;
    color: #fbe4bd;
    top:410px;
    left: 0px;
    padding-left: 320px;

}
/**parte 2 -vendas**/

#Vendas{
    float: left;
    width: 1200px;
    height: 600px;
    margin: 30px;
    margin-top:-30px;
    background: rgba(11, 10, 53, 0.941);
    background: linear-gradient(180deg, rgba(11, 10, 53, 0.941) 20%, rgb(31, 47, 99) 100%);
}
.doc {
    border: #fbe4bd solid 2px;
    position: relative;
    display: inline;
    left: 150px;
    top: 100px;
    color: #fbe4bd;
    padding: 20px;
}