*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    
    background:rgba(18, 28, 27, 0.941);
    max-width: 800px;
}
.secao{
    width: 1000px;
    margin: 30px;
   /** border:#fbe4bd solid;**/
    align-self: center;
}
.logo{
    border: rgba(105, 255, 240, 0.941) solid;
    color:#fbe4bd;
    float: left;
    padding: 15px;
 ;
}

.logo img{

    max-width:50px;
}
nav{
    float: right;
    color:#fbe4bd;
   	text-decoration: none;
    border: rgba(105, 255, 240, 0.941) solid;
    padding: 15px;
    word-spacing: 60px;
}

hr{
    padding: 0%;
    margin: bottom 20px;}


.texto1{
    border:#fbe4bd solid;
    margin-top: 100px;
    margin-left: 30px;
    padding: 15px;
    size:3em;

}
.texto1 img{
    max-width: 700px;
    padding: 60px;
    
}